# RoboX-specific devices
#

# ICP-multi devices
KERNEL=="ai[0-9]*", SUBSYSTEM=="icp"		NAME="icp/%k"
KERNEL=="ao[0-9]*", SUSSYSTEM=="icp"		NAME="icp/%k"
KERNEL=="di[0-9]*", SUBSYSTEM=="icp"		NAME="icp/%k"
KERNEL=="do[0-9]*", SUSSYSTEM=="icp"		NAME="icp/%k"
